.div-table {
  display: table;         
  width: auto;         
  background-color: #fff;         
  border-spacing: 5px; /* cellspacing:poor IE support for  this */
}
.div-table-row {
  display: table-row;
  width: auto;
  clear: both;
}
.div-table-col {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 200px;         
  background-color: #fff;  
  font-weight: 200;
  padding-left: 50;
}